body {
    background: url('images/fondo_pagina.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.custom-navbar {
    display: flex;
    border-radius: 10px; 
    margin-left: auto;
    margin-right: auto;  
    width: 100%;
    z-index: 99999;
    margin-top: 0px;
    justify-content: center;
}



.navbar-scroll {
    position: fixed;
    top: 0;
    margin-top: 0;
    transition: margin-top 0.5s; /* Agregamos una transición suave */
}

.dropdown-menu {
    background-color: #fff;
}
  
.dropdown-item {
    color: #000;
}

.navbar-responsive{
  position: fixed;
  display:none;
}

footer {
  justify-items: center;
  text-align: center;
  margin-top: 20px;
}

@media (max-width:480px){
  .gorros{
    display: none;
  }
  .navbar-responsive{
    position: fixed;
    display: flex;
    width: 42%;
  }

  .custom-navbar{
    display: none;
  }

  .botones-ph{
    width: 200%;
    height: 2000px;
  }
  .main-image{
    width: 40%;
  }

  #carousel {
    display: none;
    padding-right: 347px;
  }
  .eps{
    display: none;
  }

}

#carousel {
    width: 800px; 
    height: 400px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.botones-ph{
	margin-top: 5%;
	display: flex;
	background-color: rgba(255, 255, 255, 0.7);
	background-clip: content-box;
	width: 80%;
	height: 250px;
	border-radius: 500px;
  justify-content: center;
  align-items: center;
  margin: 5% auto;
}

.eps {
  background-image: url(images/butersshow.jpg);
  border-radius: 15px;
  margin-left: 10%;
  margin-top: 5%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);;
  color: #000000;
  padding: 20px;
}

.eps h3 {
  font-size: 50px;
  margin: 0;
}

.botones-episodios{
	margin-top: 5%;
	display: flex;
	background-color: rgba(255, 255, 255, 0.7);
	background-clip: content-box;
	width: 50%;
	height: 250px;
	border-radius: 500px;
  justify-content: center;
  align-items: center;
  margin: 2% auto;
}

.botones-episodios div {
  flex: 1;
  width: 20%;
  padding: 2%;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.botones-episodios div h4 {
  font-size: 1.2rem;
}

.botones-episodios div a {
  color: black;
}

.botones-episodios div a img{
	width: 35%;
	margin-bottom: 1.2rem;
  margin: auto;
  cursor: pointer;
  transition: 4s;
}

.botones-episodios div a img:hover{
  transform: scale(1.1);
  transition: 4s;
}

.botones-episodios div:nth-child(2) img {
	width: 45%;
}

.gorros{
  display: flex;
	text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.botones-ph div{
  flex: 1;
	width: 20%;
	padding: 2%;
  display: flex;
	text-align: center;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.botones-ph div h4 {
	font-size: 1.2rem; 
}

.botones-ph div a {
    color: black; 
}
  
.botones-ph div a img{
	width: 50%;
	margin-bottom: 2rem;
}

.botones-ph div:nth-child(1) img {
	width: 75%;
}

.eric {
    position: relative;
    display: inline-block;
}
  
.img-hover-eric {
    position: absolute;
    top: 0;
    left: 30px;
    opacity: 0;
    transition: opacity 0.3s ease;
}
  
.eric:hover .img-hover-eric {
    opacity: 1;
}

.stan {
  position: relative;
  display: inline-block;
}

.img-hover-stan {
  position: absolute;
  top: 10px;
  left: 60px;
  opacity: 0;
  transition: opacity 0.3s ease;
  transform: scale(1.2);
}

.stan:hover .img-hover-stan {
  opacity: 1;
}

.kenny {
  position: relative;
  display: inline-block;
}

.img-hover-kenny {
  position: absolute;
  top: 10px;
  left: 68px;
  opacity: 0;
  transition: opacity 0.3s ease;
  transform: scale(1.1);
}

.kenny:hover .img-hover-kenny {
  opacity: 1;
}

.kyle {
  position: relative;
  display: inline-block;
}

.img-hover-kyle {
  position: absolute;
  top: 10px;
  left: 68px;
  opacity: 0;
  transition: opacity 0.3s ease;
  transform: scale(1.1);
}

.kyle:hover .img-hover-kyle {
  opacity: 1;
}








