body {
    background: url('images/fondo_pagina.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.custom-navbar {
    border-radius: 10px; 
    margin-left: auto;
    margin-right: auto;  
    width: 100%;
    z-index: 99999;
    margin-top: 0px;
}

.navbar-scroll {
    position: fixed;
    top: 0;
    margin-top: 0;
    transition: margin-top 0.5s; /* Agregamos una transición suave */
}

.dropdown-menu {
    background-color: #fff;
}
  
.dropdown-item {
    color: #000;
}

.gorros{
    display: flex;
      text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .temporadas {
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 30px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .h2 {
    margin-top: 30px;
  }

  .list-group {
    background-color: rgba(255, 255, 255, 0.55);
  }

.list-group-item {
    background-color: rgba(255, 255, 255, 0.55);
}

.navbar-responsive{
  position: fixed;
  display:none;
}

@media (max-width:480px){
  
  .navbar-responsive{
    position: fixed;
    display: flex;
    width: 90%;
  }
  .custom-navbar{
    display: none;
  }
  .gorros{
    display:none;
  }
}


  